---
import Navbar from "@/components/Navbar";
import BootScreen from "@/components/ui/BootScreen";

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content="Astro" />
    <style>
        @font-face {
            font-family: 'Geist';
            src: url('/fonts/GeistVF.woff2') format('woff2');
            font-weight: 100 900;
            font-style: normal;
            font-display: swap; 
        }
        * {
            font-family: "Geist";
            -webkit-user-drag: none;
        }
        *::-webkit-scrollbar {
            display: none;
        }
    </style>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const titles = ['D X B Y', 'D X BY', ' D XBY', 'DXBY', 'DXB Y', 'DX B Y'];
            let index = 0;

            function updateTitle() {
                document.title = titles[index];
                index = (index + 1) % titles.length;
            }

            setInterval(updateTitle, 350);
        });
    </script>
</head>
<body class="bg-[#121212] text-white">
    <BootScreen client:only="react">
        <Navbar client:load/>
        <div class="w-full h-full p-2 selection:text-purple-400 selection:bg-[#191919]"><slot /></div>
    </BootScreen>
    <div class="absolute bottom-5 w-full flex flex-col items-center justify-center">
       <div class="w-full flex flex-row justify-center items-center gap-x-2">
        <a href="https://github.com/IamSTEINI/dxby.dev" class="hover:brightness-75 brightness-50 transition-all ease-in duration-100 cursor-pointer text-white">Source code</a>
    </div>
    </div>
</body>
</html>